body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins',sans-serif;

}
header img{
    margin-right: 30px;
}
h2{
    margin-right: 10px;
}
.navbar img{
    width: 70px;
    height: 70px;
}
.bg-light{
    background-color: #480ca8 !important;

}

.form-inline{
    width: 38%;
    background-color: white;
    border-radius: 20px;
    margin-right: 5px;

}
.form-inline input{
    outline: none !important;
    border: none;
    transition: none !important;

}
.barra{
    width: 85% !important;
    border-radius: 20px;
    font-family: 'Poppins',sans-serif;
    margin-left: 25px;
}
.form-inline .btn{
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    color: #480ca8;
}
.form-inline .btn-outline-success{
    background-color: #ffffff;
    margin-left: 10px;
}

.form-inline .btn-outline-success:hover{
    color: #480ca8;
}
.nav-link{
    color: #ffffff !important;
    width: 125%;
    margin-right: 10px;
} 

.btn-cadastro{
        border-radius: 50%;
        width: 38px !important;
        height: 38px !important;
        margin-right: 60px;
        color: #ffffff;
        border: none;
}
.nav-link i{
    margin-right: 3px;
}
.nav-item{
    margin-right: 10px;
}
.form-inline a{
    width: 38px !important;
    height: 38px !important;

}
.conta{
    border-radius: 50%;
    width: 38px !important;
    height: 38px !important;
    margin-right: 60px;

    color: #ffffff;
    border: none;
}
.conta:hover{
    background-color: #ffffff;
    color: #480ca8;
    border: none;
}
#text{
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    font-family: 'Poppins',sans-serif;
    margin-top: 5px;
}
.carrinho{
    display: flex;
    border-radius: 50%;
    width: 38px !important;
    height: 38px !important;
    margin-right: 270px;
    color: #ffffff;
    border: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.carrinho:hover{
    background-color: #ffffff;
    color: #480ca8;
    border: none;

}
.carrinho #cars{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}


.card {
    position: relative;
    width: 11.875em;
    margin-bottom: 30px;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
  }
  
  .card::after {
    content: "Add to Cart";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    height: 2.5em;
    width: 90%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
  }
  
  .card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
  }
  
  .card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
  }
  
  .card:hover::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card:active {
    transform: scale(0.98);
  }
  
  .card:active::after {
    content: "Added !";
    height: 3.125em;
  }
  
  .text {
    max-width: 55px;
  }
  
  .image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .cards{
    padding: 70px;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }